.add-expense-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100vh;
}

.add-expense-title {
    margin: 1rem;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
}

.custom-category-input {
    margin-top: 10px;
}

.add-expense-btn {
    background-color: #127249;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-expense-btn:hover {
    background-color: #0056b3;
}

.error-message {
    color: #dc3545;
    margin: 10px 0;
    text-align: center;
}