.expense-history-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100vh;
}

.expense-history-title {
    margin: 1rem;
    color: #333;
}

.display-mode-select {
    margin: 0 1rem 1rem 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.expense-history-table {
    width: 100%;
    border-collapse: collapse;
}

.expense-history-table th,
.expense-history-table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.expense-history-table th {
    background-color: #f2f2f2;
}

.btn {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #ffc107;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.edit-btn:hover {
    background-color: #e0a800;
}

.delete-btn:hover {
    background-color: #c82333;
}