.todo-form-container {
    width: 100vh;
    border: 1px solid #ccc;
    padding: 20px;
    background: linear-gradient(145deg, #d0baf3, #e9b4bf);
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
}

.todo-form-row {
    margin-bottom: 20px;
}

.todo-form-label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #1c1212;
}

.todo-form-input {
    padding: 10px;
    width: calc(100% - 20px);
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #473b3b;
    transition: border-color 0.3s, background-color 0.3s;
}

.todo-form-input:focus {
    outline: none;
    border-color: #fc466b;
    background-color: rgba(255, 255, 255, 0.3);
}

.todo-form-content {
    display: flex;
    flex-direction: column;
}

.todo-form-input.todo-form-content::placeholder {
    color: #453939;
    opacity: 1;
}

.todo-form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fc466b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    align-self: center;
    font-size: 14px;
}

.todo-form-button:hover {
    background-color: #6e3bc2;
    transform: scale(1.05);
}